<ion-view hide-nav-bar="true">
  <ion-content style="text-align: center;">
    <br><br><br>
    <br>
    <img src="assets/beatle_logo.png" style="width:25%">
    <h2 style='color:#939393;font-size: 4em' class="zurich">Welcome to <br>Beatle Analytics</h2>
    <div class="bg-beatle user-login-bottom text-center">
      <br>
      <br>
      <br>
      <h3 class="text-center text-white" >Reset password here</h3>
      <br>
      <div ng-hide="otpVerifiedFlag">
      <form name="userResetForm">
        <div ng-show="message" ng-bind="message"></div>
        <label class="item item-input input-login  border-beatle ">
          <input  name="user" type="text" placeholder="Enter Mobile" ng-model="user.user" required>
        </label>
        <br><br>
        <button class="button buttom-calm background-beatle beatle-button-1x" id="otp" ng-disabled="userResetForm.$invalid || otpDisable" ng-click="sendOtp(user)">{{buttonText}} OTP
          <timer interval="1000" countdown="60" ng-show="timerFlag" autostart="false" style="color:white;font-size:25px;">{{countdown}}</timer>
        </button>

      </form>
      <form name="userLoginForm" ng-show="otpSentFlag">
        <br>
        <label class="item item-input input-login  border-beatle ">
          <input name="otp" type="text" placeholder="Enter OTP" ng-model="user.otp" required>
        </label>
        <br><br>
        <button class="button buttom-calm beatle-button-1x" style="color:#369498;margin-right:40px;" ui-sref="user-signin">Sign In</button>
        <button class="button buttom-calm background-beatle beatle-button-1x" ng-disabled="userLoginForm.$invalid" ng-click="otpVerify(user)">Verify</button>
        <!--ng-show="userLoginForm.$invalid"-->
      </form>
    </div>
    <div ng-show="otpVerifiedFlag">
      <form name="passwordResetForm" ng-show="otpSentFlag">
        <br>
        <label class="item item-input input-login  border-beatle ">
          <input name="password" type="password" placeholder="Enter Password" ng-model="user.password" required>
        </label>
        <br>
        <label class="item item-input input-login  border-beatle ">
          <input name="rpassword" type="password" placeholder="Repeat Password" ng-model="user.rPassword" required>
        </label>
        <br><br>
        <button class="button buttom-calm background-beatle beatle-button-1x" ng-disabled="passwordResetForm.$invalid" ng-click="reset(user,passwordResetForm)">Reset and Continue</button>
        <!--ng-show="userLoginForm.$invalid"-->
      </form>
    </div>
    </div>
  </ion-content>
</ion-view>
