<ion-view hide-nav-bar="true">
  <ion-header-bar align-title="left" class="bar-beatle beatle-header-bar" right-buttons="rightButton">
    <div class="buttons">
      <directive-logo></directive-logo>
    </div>
    <h1 class="title title-summary">{{Survey.name}}</h1>
    <!--{{hotelName}}-->
    <div class="buttons">
      <img src="assets/beatle_logo.png" style="width:110px">
    </div>
  </ion-header-bar>
  <ion-content style="padding-top:38px">
    <ion-tree-list items="pages" collapsed="true"></ion-tree-list>
    <br>
    <div class="bg-beatle home-bottom">
      <br>
      <h3 class="zurich text-white"> Other Comments:</h3>
      <form name="complainForm">
        <textarea ng-model="comments" class="complaint-textarea" placeholder="Minimum 20 characters" required> </textarea>
      </form>

      <br>
      <button class="button buttom-calm background-beatle beatle-button-1x" ng-disabled="complainForm.$invalid || comments.length <= 20" ng-click="submit(comments)">Submit</button>
    </div>



  </ion-content>
</ion-view>
