<ion-view hide-nav-bar="true">
  <ion-content style="text-align: center;">
    <br><br><br>
    <br>
    <img src="assets/beatle_logo.png" style="width:25%">
    <h2 style='color:#939393;font-size: 4em' class="zurich">Welcome to <br>Beatle Analytics</h2>
    <div class="bg-beatle user-login-bottom text-center">
      <br>
      <br>
      <br>
      <h3 class="text-center text-white" >Log In here</h3>
      <br>
      <form name="userLoginForm">
        <div ng-show="message" ng-bind="message"></div>
        <label class="item item-input input-login  border-beatle ">
          <input  name="username" type="text" placeholder="Enter Email or Mobile" ng-model="user.user" required>
        </label>
        <br>
        <label class="item item-input input-login  border-beatle ">
          <input name="password" type="password" placeholder="Enter Password" ng-model="user.password" required>
        </label>
        <br><br>
        <button class="button button-clear text-white button-font-2x" style="color:#fff;margin-right:40px;font-size: 24px" ui-sref="user-reset">Reset Password</button>
        <button class="button button-clear text-white button-font-2x" style="color:#fff;margin-right:40px;font-size: 24px" ui-sref="user-signup">Sign Up</button>
        <button class="button buttom-calm  beatle-button-1x" style="color:#369498" ng-disabled="userLoginForm.$invalid" ng-click="login(user)">Log In</button>
        <!--ng-show="userLoginForm.$invalid"-->
      </form>
    </div>
  </ion-content>
</ion-view>
