<ion-view hide-nav-bar="true" >
  <ion-header-bar align-title="left" class="bar-beatle beatle-header-bar" right-buttons="rightButton">
    <div class="buttons">
      <directive-logo></directive-logo>
    </div>
    <h1 class="title title-summary">{{Survey.name}}</h1>
    <!--{{hotelName}}-->
    <div class="buttons">
      <img src="assets/beatle_logo.png" style="width:110px">
    </div>
  </ion-header-bar>
  <div style="border-radius: 10px;margin-top: 82px;z-index: 100;width:100%;background:#fff">
    <div class="list list-inset bg-assertive" style="border-radius:10px;z-index:5">
      <h1 class="text-white text-center current-page-name m-t-10" >Your Feedback Summary</h1>
      <!--<img class="dept-login-logo" src="assets/beatle.png">-->
    </div>
  </div>
  <ion-content style="padding-top:100px">
    <ion-scroll>
      <div class="list list-inset">
        <h5 style="margin-left: 20px;font-size: 24px" class="zurich row" ng-show="user.mobile">
          <span class="col col-25 font-bold">Your Mobile: </span>
          <span class="col col-25"> {{user.mobile}} </span>
        </h5>
        <h5 style="margin-left: 20px;font-size: 24px" class="zurich row" ng-show="user.email">
          <span class="col col-25 font-bold">Your Email: </span>
          <span class="col col-25"> {{user.email}} </span>
        </h5>
        <div ng-repeat="page in Survey.Pages">
          <div class="card">
            <div class="item item-divider bg-beatle font-futura-lt" style="font-size:36px;height:50px;color:#fff;padding:15px 15px">
              {{page.name}}
            </div>
            <div class="item item-text-wrap" >
              <ul ng-if="page.Contents.length" class="ul-answer">
                <div class="row summary-row" ng-repeat="content in page.Contents"  >
                  <span class="col col-25 font-bold"> {{content.name}} : </span>
                  <span class="col col-50"> {{content.answerText}}</span>
                </div>
              </ul>
              <div ng-repeat="question in page.Questions" ng-if="page.Questions.length" class="ul-answer">
                <span class=""> {{question.name}} :  </span>
                <span class=""> {{question.answerText}}</span>
              </div>

            </div>
          </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>
      </ion-scroll>
  </ion-content>
  <div class="bg-beatle summary-bottom text-center">
    <br>
    <span ng-show="!imageFlag" ng-class="{'ion-android-person':!imageFlag}" class="avatar-beatle"></span>
    <img src="" id="myImage">
    <div class="summary-description">
      <h2>That's all, thank you!</h2>
      <p style="font-size: 16px;">You have just earned 20 reward points.<br> Please visit www.beatleanalytics.com <br>to avail benefits</p>
    </div>

    <button  class="button buttom-calm background-beatle beatle-button-1x button-camera"
             ng-click="getPhoto()"> <span class="ion-camera"></span>   Click Photo</button>
    <button  class="button buttom-calm background-beatle beatle-button-1x button-summary"
             ng-click="submit()">Submit</button>

  </div>
</ion-view>
