<ion-view hide-nav-bar="true">
  <ion-header-bar align-title="left" class="bar-beatle beatle-header-bar" right-buttons="rightButton">
    <div class="buttons">
      <directive-logo></directive-logo>
    </div>
    <h1 class="title"></h1>
    <div class="buttons">
      <span class="ion-icon ion-ios-pulse-strong" style="font-size:  42px;padding:10px;color: #fff;" ui-sref="lineManager-login"></span>

      <span class="ion-icon ion-log-out" style="font-size: 22px;padding:20px;color: #fff;" ng-click="changeDepartment()"></span>
    </div>
  </ion-header-bar>
  <ion-content class="text-center">
    <br><br><br>
    <img src="assets/beatle_logo.png" style="width:25%">
    <h2 style='color:#939393;font-size: 4em' class="zurich">Beatle Analytics</h2>
    <br>
    <h2 class="text-center story-head" class="zurich">The Story of Our Company</h2>

    <div class="story-body">
      <p>
        We at Beatle Analytics, believe that you must get a technical analysis to design an effective growth path for your business. Beatle Analytics has come up with the real time solution for service sectors.
      </p><p>
        Beatle Analytics is a tool which is equal to a virtual, real-time assistant who gathers your data & analyze it according to the business requirements at a minimal cost.
    </p><p>
        DATA is dumb till analyzed. In any enterprise, sizable amount of money is spent on marketing and advertisement.
        A quick and effective way to know how well their money is spent is through “REAL TIME CUSTOMER FEEDBACK”.
        Our product is especially designed for the service industry. Here we use the “RTCF” to study and understand
        the behavior and the expectation of the customer/ guest. We build a detailed
        analysis of their feedback which enables us to provide your guests/ customers a good brand experiences.
      </p>
    </div>

  </ion-content>
  <div class="bg-beatle home-bottom-block text-center">
    <br>
    <br>
    <button class="button buttom-calm background-beatle beatle-button-1x"  ui-sref="user-login">Continue</button>
    <br>
    <br>
  </div>
</ion-view>
