<ion-view hide-nav-bar="true">
  <ion-content style="text-align: center;">
    <br><br><br>
    <br>
    <img src="assets/beatle_logo.png" style="width:25%">
    <h2 style='color:#939393;font-size: 4em' class="zurich">Welcome to <br>Beatle Analytics</h2>
    <div class="bg-beatle user-login-bottom text-center">
      <br>
      <br>
      <br>
      <h3 class="text-center text-white" >Hi, <span class="font-bold">{{userData.LineManager.name}}</span> </h3>
      <br>
      <form name="userLoginForm" ng-if="userData.LineManager.name">
        <div ng-show="message" ng-bind="message"></div>
        <br>
        <label class="item item-input input-login  border-beatle ">
          <input name="password" type="password" placeholder="Enter Password" ng-model="user.password" required>
        </label>
        <br><br>
        <button class="button buttom-calm background-beatle beatle-button-1x" ng-disabled="userLoginForm.$invalid" ng-click="login(user)">Continue</button>
        <!--ng-show="userLoginForm.$invalid"-->
      </form>
    </div>
  </ion-content>
</ion-view>
