<ion-view hide-nav-bar="true">
  <ion-header-bar align-title="left" class="bar-beatle beatle-header-bar" right-buttons="rightButton">
    <div class="buttons">
      <directive-logo></directive-logo>
    </div>
    <h1 class="title"></h1>
    <div class="buttons">
      <!--<img src="assets/beatle_logo.png" style="width:131px">-->
    </div>
  </ion-header-bar>
  <ion-content class="text-center">
    <br><br><br>
    <br><br><br>
    <img src="assets/beatle_logo.png" style="width:25%">
    <h2 style='color:#939393;font-size: 4em' class="zurich">Welcome to <br>Beatle Analytics</h2>
    <br>
    <div class="bg-beatle home-bottom">
      <br>
      <br>
      <button class="button buttom-calm background-beatle beatle-button-1x"  ui-sref="page-content">Feedback</button>
      <!--<button class="button button-default beatle-button" ui-sref="page-content">Feedback</button>-->
      <br><br>
      <button class="button buttom-calm background-beatle beatle-button-1x"  ui-sref="complaints">Complain</button>
      <!--<button class="button button-default beatle-button" >Complain</button>-->
      <br>
      <br>

      <button class="button button-clear text-white beatle-font-1x" href="" ng-click="signout()">Sign Out</button>
    </div>
  </ion-content>

</ion-view>
