<ion-view hide-nav-bar="true">
  <ion-header-bar align-title="left" class="bar-beatle beatle-header-bar" right-buttons="rightButton">
    <div class="buttons">
      <directive-logo></directive-logo>
    </div>
    <h1 class="title title-summary">{{Survey.name}}</h1>
    <!--{{hotelName}}-->
    <div class="buttons">
      <img src="assets/beatle_logo.png" style="width:110px">
    </div>
  </ion-header-bar>
  <ion-content style="margin-top:40px">
    <span>
      <button  class="button beatle-button-1x background-beatle" ng-click="openDatePicker('from')">From:{{OwnerDashboardPage.mFrom}}</button>
      &nbsp;&nbsp;
      <button  class="button beatle-button-1x background-beatle" ng-click="openDatePicker()">To:{{OwnerDashboardPage.mTo}}</button>
      &nbsp;&nbsp;<button  class="button beatle-button-1x background-beatle" ng-click="changeTab(Survey.Pages[ui.tF].id,ui.tF )">Load</button>
    </span>
    <div class="clearfix"></div>
    <br>
    <button class="button" ng-repeat="page in Survey.Pages | filter:{type:'content'}:true"
            ng-click="OwnerDashboardPage.getPageHref(page.id)"
            ng-class="page.name === currentPage.name ? 'beatle-button-1x background-beatle' : 'button-danger'"> {{page.name}}</button>
    <div class="row">
      <div class="col col-25 b-report-head" ng-repeat="content in currentPage.Contents |limitTo:4"
           ng-class="ui.tF === $index ? 'panel-info' : 'panel-danger' "
           ng-click="changeTab(content.id, $index)">
        <h2  class="text-white zurich text-center" style="width: 100%;margin-top:10px">{{content.name}}</h2>
      </div>
    </div>
    <div class="row text-center">
      <div class="col col-25  b-b-b" ng-repeat="content in currentPage.Contents |limitTo:4">
        <div class="two-col" >
          Us
          <br>
          <div>{{ OwnerDashboardPage.data.myContentAvg[content.id]|number:1}}</div>
        </div>
        <div class="two-col">
          Industry
          <br>
          <div>{{ OwnerDashboardPage.data.industryContentAvg[content.id]|number:1}}</div>
        </div>
      </div>
    </div>
    <div class="container" style="width:80%;margin:auto;">
      <br>
      <canvas id="bar" class="chart chart-line"
              chart-data="graph.data" chart-labels="graph.labels"
              chart-dataset-override="graph.datasets"
              chart-series='graph.series' height="200">
      </canvas>
      <br>
      <br>
      <br>

    </div>


  </ion-content>
  <div class="bar bar-footer bar-beatle">
    <h1 class="text-white zurich text-center" style="width: 100%;margin-top:10px"
        ui-sref='tickets.list()'>Click Here - Tickets</h1>
  </div>
</ion-view>
