<ion-view hide-nav-bar="true">
  <ion-header-bar align-title="left" class="bar-beatle beatle-header-bar" right-buttons="rightButton">
    <div class="buttons">
      <directive-logo></directive-logo>
    </div>
    <h1 class="title title-summary">{{Survey.name}}</h1>
    <!--{{hotelName}}-->
    <div class="buttons">
      <img src="assets/beatle_logo.png" style="width:110px">
    </div>
  </ion-header-bar>
  <ion-content style="margin-top:40px">
     <span>
        <button class="button beatle-button-1x background-beatle" ui-sref="notifications.list">
          Notifications
        </button>
        &nbsp;&nbsp;
        <button class="button beatle-button-1x background-beatle" ui-sref="tickets.list">
          Tickets
        </button>
        <div>&nbsp;</div>
        <button class="button beatle-button-1x background-beatle" ng-click="openDatePicker('from')">
          From:{{OwnerDashboardSurvey.mFrom}}
        </button>
        &nbsp;&nbsp;
        <button class="button beatle-button-1x background-beatle" ng-click="openDatePicker()">
          To:{{OwnerDashboardSurvey.mTo}}
        </button>
        <button class="button beatle-button-1x background-beatle" ng-click="OwnerDashboardSurvey.loadData()">
          Load
        </button>


     </span>
    <div class="row">
      <div class="col col-25 b-report-head" ng-click="OwnerDashboardSurvey.getData('averages')"
           ng-class="OwnerDashboardSurvey.tF == 1 ? 'panel-info' : 'panel-danger' ">
        <h2 class="text-white zurich text-center" style="width: 100%;margin-bottom:0px" >
          Average</h2>
      </div>
      <div class="col col-25  b-report-head" style="background: #55CDD3" ng-click="OwnerDashboardSurvey.getData('feedbacks')"
           ng-class="OwnerDashboardSurvey.tF == 2 ? 'panel-info' : 'panel-danger' ">
        <h2 class="text-white zurich text-center" style="width: 100%;margin-bottom:0px">
          Feedback</h2>
      </div>
      <div class="col col-25  b-report-head" style="background: #55CDD3" ng-click="OwnerDashboardSurvey.getData('tickets')"
           ng-class="OwnerDashboardSurvey.tF == 3 ? 'panel-info' : 'panel-danger' ">
        <h2 class="text-white zurich text-center" style="width: 100%;margin-bottom:0px">
          Tickets</h2>
      </div>
      <div class="col col-25  b-report-head" style="background: #55CDD3" ng-click="OwnerDashboardSurvey.getData('lowRating')"
           ng-class="OwnerDashboardSurvey.tF == 4 ? 'panel-info' : 'panel-danger' ">
        <h2 class="text-white zurich text-center" style="width: 100%;margin-bottom:0px">Low
          Rating</h2>
      </div>
    </div>
    <div class="row text-center">
      <div class="col col-25  b-b-b">
        <div class="color-us">
          Us: {{ OwnerDashboardSurvey.data.myAvg | number:1 }}
        </div>
        <div class="color-industry">
          Industry: {{ OwnerDashboardSurvey.data.industryAvg | number:1 }}
        </div>

      </div>
      <div class="col col-25  b-b-b">
        <div class="color-us">
          Us: {{ OwnerDashboardSurvey.data.averageFeedbacks | number:1 }}
        </div>
        <div class="color-industry">
          Industry: {{ OwnerDashboardSurvey.data.avgIndustryFeedbacks | number:1 }}
        </div>

      </div>
      <div class="col col-25  b-b-b">
        <div class="color-us">
          Us:{{ OwnerDashboardSurvey.data.averageTickets | number:1 }}
        </div>
        <div class="color-industry">
          Industry:{{ OwnerDashboardSurvey.data.avgIndustryTickets | number:1 }}
        </div>

      </div>
      <div class="col col-25  b-b-b">
        <div class="color-us">
          Us:{{ OwnerDashboardSurvey.data.myLowRating | number:1 }}
        </div>
        <div class="color-industry">
          Industry:{{ OwnerDashboardSurvey.data.industryLowRating | number:1 }}
        </div>
      </div>
    </div>
    <div>&nbsp;</div>

    <div class="row">
      <div class="col col-25 b-report-head" ng-click="OwnerDashboardSurvey.getData('solvedTickets')"
           ng-class="OwnerDashboardSurvey.tF == 5 ? 'panel-info' : 'panel-danger' ">
        <h2 class="text-white zurich text-center" style="width: 100%;margin-bottom:0px" >
          Ticket Ratio</h2>
      </div>
      <div class="col col-25  b-report-head" style="background: #55CDD3" ng-click="OwnerDashboardSurvey.getData('totalFeedbacks')"
           ng-class="OwnerDashboardSurvey.tF == 6 ? 'panel-info' : 'panel-danger' ">
        <h2 class="text-white zurich text-center" style="width: 100%;margin-bottom:0px">
          Total</h2>
      </div>


    </div>

    <div class="row text-center">
      <div class="col col-25  b-b-b">
        <div class="color-us">
          Raised:  {{ OwnerDashboardSurvey.data.myTickets - OwnerDashboardSurvey.data.solvedTickets  }}
        </div>
        <div class="color-industry">
          Resolved: {{ OwnerDashboardSurvey.data.solvedTickets }}
        </div>

      </div>
      <div class="col col-25  b-b-b">
        <div class="color-us">
          Feedbacks:{{ OwnerDashboardSurvey.data.totalFeedbacks }}
        </div>
        <div class="color-industry">
          Tickets: {{ OwnerDashboardSurvey.data.myTickets  }}

        </div>

      </div>

    </div>
    <div class="container" style="width:80%;margin:auto;">
      <br>
      <canvas id="bar" class="chart chart-line"
              chart-data="graph.data" chart-labels="graph.labels"
              chart-dataset-override="graph.datasets"
              chart-series='graph.series' height="200">
      </canvas>
      <br>
      <br>
      <br>

    </div>


  </ion-content>
  <div class="bar bar-footer bar-beatle">
    <h1 class="text-white zurich text-center" style="width: 100%;margin-top:10px" ng-repeat="page in OwnerDashboardSurvey.Survey.Pages | filter:{type:'content'}:true" ng-if="$first"
        ng-click='OwnerDashboardSurvey.goToPage(page.id)'>Click Here - Pagewise Report</h1>
  </div>
</ion-view>
