<ion-view hide-nav-bar="true" >
  <ion-header-bar align-title="left" class="bar-beatle beatle-header-bar" right-buttons="rightButton">
    <div class="buttons">
      <directive-logo></directive-logo>
    </div>
    <h1 class="title title-summary">{{Survey.name}}</h1>
    <!--{{hotelName}}-->
    <div class="buttons">
      <img src="assets/beatle_logo.png" style="width:110px">
    </div>
  </ion-header-bar>
  <ion-content style="padding-top:38px">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <h1 class="text-center font-futura-bt" style="color:black" >TOTAL FEEDBACKS</h1>
    <br>
    <br>
    <br>    <br>
    <br>
    <br>

    <div class="text-center" style="font-size:12em;color:#55CDD3">{{count}}</div>



  </ion-content>
  <div class="bar bar-footer bar-beatle">
    <h1 ui-sref="owner-dashboard" class="text-white zurich text-center" style="width: 100%;margin-top:10px">Click Here - Detailed Report</h1>
  </div>
</ion-view>
