<ion-view hide-nav-bar="true" >
  <ion-header-bar align-title="left" class="bar-beatle beatle-header-bar" right-buttons="rightButton">
    <div class="buttons">
      <directive-logo></directive-logo>
    </div>
    <h1 class="title"></h1>
    <!--{{hotelName}}-->
    <div class="buttons">
      <img src="assets/beatle_logo.png" style="width:110px">
    </div>
  </ion-header-bar>
  <div style="border-radius: 10px;margin-top: 82px;z-index: 100;width:100%;background:#fff">
    <div class="list list-inset bg-assertive" style="z-index: 100;">
      <h1 class="text-white text-center current-page-name m-t-10" >{{currentPage.name}}</h1>
      <!--<img class="dept-login-logo" src="assets/beatle.png">-->
    </div>
  </div>

  <ion-content style="background: #fff;padding-top:100px">
    <ion-scroll>
      <h3 class="text-center zurich text-red" ng-show="message" style="margin-top:15px">{{message}}</h3>
      <div class="text-center" ng-repeat="content in currentPage.Contents"

      >
        <button class="button bg-beatle content-button " ng-class="content.answer?'icon-right ion-checkmark text-black':'text-white'"
                ng-click="contentBtnClick($index)">
          {{content.name}}
          <span  ng-class="content.answer?'text-black':'text-white'" class="text-white font-bold">{{ content.answer ? ': '+ content.answerText:''}}</span>
        </button>
        <div class="row" >
          <div class="col col-center" ng-show="$index == opened" >
            <button class="button button-stable button-answer" ng-repeat="i in (cons = content.Choice.name.split(','))"
                    ng-click="answerBtnClick(content,cons.length-$index,i,$parent.$index)" >
              {{i}}
            </button>
          </div>
        </div>
      </div>

      <div class="list list-inset question-wrap" ng-repeat="question in currentPage.Questions">
        <h2 class="zurich question-name" ng-click="questionBtnClick($index)">
          {{question.name}}
          <span class="pull-right" ng-class="{'ion-chevron-down':($index == opened),'ion-chevron-right':($index != opened),'text-red':question.answer}"></span>
          <!--question.answer-->
        </h2>
        <div ng-show="$index == opened" >
          <div  ng-if=" question.type=='radio'" style="margin-top:10px">
            <div class="radio-wrap " ng-repeat="i in question.Choice.name.split(',')"
                 ng-click="qanswerBtnClick(question,$index+1,i,$parent.$index)">
              <input class="radio" style="margin:15px" type="radio" value="{{i}}" ng-class="question.answerText == i?'xchecked':'x'">
              <label class="radio-label">{{i}} </label>
            </div>
          </div>
          <div ng-if="question.type=='text'" class="text-answer-wrap">
            <input type="text" ng-model="question.answerText" class="text-answer-input" focus-me="opened==$index">
            <button ng-if="question.answerText" class="next-button pull-right button bg-beatle text-white font-bold"
                    ng-click="qanswerBtnClick(question,$index+1,question.answerText,$parent.$index)">  Next  </button>
          </div>
          <div ng-if="question.type=='textarea'" class="text-answer-wrap">
            <textarea required type="text" ng-model="question.answerText" class="textarea-answer-input" focus-me="opened==$index" placeholder="Min 20 Characters"></textarea>
            <button ng-if="question.answerText && question.answerText.length >= 20" class="next-button pull-right button bg-beatle text-white font-bold"
                    ng-click="qanswerBtnClick(question,$index+1,question.answerText,$parent.$index)">  Next  </button>
          </div>
        </div>
      </div>
      <h3 class="text-center zurich text-red" ng-show="message" style="margin-top:15px">{{message}}</h3>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </ion-scroll>



  </ion-content>
  <!--<div class="bar bar-footer bg-beatle">-->
    <!--<div class="title"></div>-->
  <!--</div>-->
</ion-view>
