<ion-view hide-nav-bar="true">
  <ion-header-bar align-title="left" class="bar-beatle beatle-header-bar" right-buttons="rightButton">
    <div class="buttons">
      <directive-logo></directive-logo>
    </div>
    <h1 class="title title-summary">{{Survey.name}}</h1>
    <!--{{hotelName}}-->
    <div class="buttons">
      <img src="assets/beatle_logo.png" style="width:110px">
    </div>
  </ion-header-bar>
  <ion-content style="margin-top:40px">
    <div class="col-md-12 col-sm-12 col-xs-12 panel panel-warning no-padder">

      <div class="panel-body p-5px col-divider">
        <div class="col-md-1"></div>
        <div class="col-md-11">
          <h3 ng-hide="OwnerDashboard.departments.length">No Chains found</h3>
          <div ng-repeat="chain in OwnerDashboard.chains">
            <h4 class="list">Select Survey</h4>
            <!--<h4>{{chain.name}}</h4>-->
            <div ng-repeat="hotel in chain.Hotels" class="col-md-6">
              <!--<h5>{{hotel.name}}</h5>-->

              <div ng-repeat="department in hotel.Departments">
                <!--<a>{{department.Survey.name}}</a>-->
                <ul class="list">

                    <a class="item item-icon-right" ng-if="department.Survey"  ui-sref="owner-dashboard-survey({chainId:chain.id, hotelId:hotel.id, surveyId:department.Survey.id, departmentId:department.id})">{{department.Survey.name}}
                    -<span>{{department.Survey.createdAt | date}} -</span><span ng-show="department.Survey.completedAt">{{department.Survey.completedAt | date}}</span><span ng-hide="department.Survey.completedAt">Till Date</span>
                      <i class="icon ion-arrow-right-c"></i>
                    </a>


                </ul>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>


  </ion-content>
</ion-view>
