<ion-view hide-nav-bar="true">
  <ion-header-bar align-title="left" class="bar-beatle beatle-header-bar" right-buttons="rightButton">
    <div class="buttons">
      <directive-logo></directive-logo>
    </div>
    <h1 class="title title-summary">{{Survey.name}}</h1>
    <!--{{hotelName}}-->
    <div class="buttons">
      <img src="assets/beatle_logo.png" style="width:110px">
    </div>
  </ion-header-bar>
  <ion-content style="margin-top:40px">
    <div class="row header">
      <div class="col">#ID. Name</div>
      <div class="col">Mobile - Email</div>
      <div class="col">Assigned to</div>
      <div class="col">Contents</div>
      <div class="col"></div>
    </div>
    <div class="row" ng-repeat="ticket in TicketsList.tickets" style="border-top: 1px dotted #55CDD3">
      <div class="col">{{ticket.id}}. {{ticket.User.name}}</div>
      <div class="col">{{ticket.User.mobile}} - {{ticket.User.email}}</div>
      <div class="col" ng-bind="ticket.TicketState.Assignee.name"></div>
      <div class="col" ng-bind-html="ticket.TicketContents | TicketContents" ></div>
      <div class="col">

        <select style="margin-top:3px;" class="form.form-control" ng-model="ticket.TicketState.stateId"
        ng-change="TicketsList.changeState(ticket,ticket.TicketState.stateId)"
        ng-options="TicketState.id as TicketState.name for TicketState in [{'id':1,'name':'Created - LM'}, {'id':3,'name':'Escalation - Manager'},{'id':4,'name':'Escalation - Owner'},{'id':2,'name':'Resolved'}]")

      </div>
    </div>


  </ion-content>
  <div class="bar bar-footer bar-beatle">
    <h1 class="text-white zurich text-center" style="width: 100%;margin-top:10px"
        ui-sref='home'>Click Here - Home</h1>
  </div>
</ion-view>
