<ion-view hide-nav-bar="true">
  <ion-content style="text-align: center;">
    <br><br><br>
    <br>
    <img src="assets/beatle_logo.png" style="width:25%">
    <h2 style='color:#939393;font-size: 4em' class="zurich">Welcome to <br>Beatle Analytics</h2>
    <br>
    <div class="bg-beatle user-login-bottom text-center">
    <br>
    <br>
    <h3 class="text-center text-white" >Sign Up here</h3>
    <br>
    <form name="signupForm">
      <div ng-show="message" ng-bind="message"></div>
      <label class="item item-input input-login  border-beatle ">
        <input  type="text" placeholder="Enter Email or Mobile"  ng-model="user.name" required>
      </label>
      <br>
      <label class="item item-input input-login  border-beatle ">
        <input  type="password" placeholder="Enter Password" ng-model="user.password" required>
      </label>
      <br>
      <label class="item item-input input-login  border-beatle ">
        <input  type="password" name="rpassword"  placeholder="Re-enter Password" ng-model="user.rPassword" required>
      </label>

      <br><br>
      <button class="button buttom-calm background-beatle beatle-button-1x" style="color:#ccc" ui-sref="user-login">Back to Log In</button>
      <button class="button buttom-calm background-beatle beatle-button-1x" ng-disabled="signupForm.$invalid" ng-click="signup(user,signupForm)">Sign Up</button>
      <!--ng-show="departmentLoginForm.$invalid"-->
    </form>
    </div>
  </ion-content>
</ion-view>


<!--<ion-view hide-nav-bar="true" style="background: #11c1f3">-->

<!--<ion-content>-->
<!--<br>-->
<!--<div class="text-center">-->
<!--<h2 class="text-center text-white">User Login</h2>-->
<!--&lt;!&ndash;<img class="dept-login-logo" src="assets/beatle.png">&ndash;&gt;-->
<!--</div>-->
<!--<br>-->
<!--<div class="list list-inset">-->
<!--<form name="UserLoginForm">-->
<!--<div ng-show="message" ng-bind="message"></div>-->
<!--<label class="item item-input">-->
<!--<input type="text" placeholder="Enter Mobile Number or Email ID" ng-model="userId" required>-->
<!--</label>-->
<!--&lt;!&ndash;<label class="item item-input">&ndash;&gt;-->
<!--&lt;!&ndash;<input type="text" placeholder="Enter Password" ng-model="departmentId" required>&ndash;&gt;-->
<!--&lt;!&ndash;</label>&ndash;&gt;-->
<!--<br>-->
<!--<button class="button button-calm pull-right" ng-disabled="UserLoginForm.$invalid" ng-click="continue(userId)">-->
<!--Continue-->
<!--</button>-->
<!--</form>-->



<!--</div>-->


<!--</ion-content>-->
<!--&lt;!&ndash;<div class="bar bar-footer bar-calm">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="title" ui-sref="user-signup">Signup</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--</ion-view>-->
