<ion-view hide-nav-bar="true">
  <ion-content style="text-align: center;">
    <br><br><br>
    <br><br><br>
    <img src="assets/beatle_logo.png" style="width:25%">
    <h2 style='color:#939393;font-size: 4em' class="zurich">Welcome to <br>Beatle Analytics</h2>
    <br>
    <div class="bg-beatle home-bottom text-center">
    <br>
    <br>

    <form name="departmentLoginForm">
      <div ng-show="message" ng-bind="message"></div>
      <label class="item item-input input-dept  border-beatle ">
        <input  type="text" placeholder="Enter Department ID" ng-model="departmentId" required>
      </label>
      <br><br>
      <button class="button buttom-calm background-beatle beatle-button-1x" ng-click="continue(departmentId)">Continue</button>
      <!--ng-show="departmentLoginForm.$invalid"-->
    </form>

  </div>
  </ion-content>

</ion-view>
