/* Empty. Add your own CSS if you like */


@font-face {
  font-family: 'Zurich Light Condensed';
  src: url(../fonts/TT0296M_.TTF);
}

@font-face {
  font-family: "FuturaLT-CondensedExtraBold";
  src: url(../fonts/FuturaLT-CondensedLightObl.ttf);
}


@font-face {
  font-family: "Futura Md BT Medium";
  src: url(../fonts/tt0142m_.ttf);
}


@font-face {
  font-family: "FuturaLT-Book";
  src: url(../fonts/FuturaLT-Book.ttf);
}

@font-face {
  font-family: myfont;
  src: url(../fonts/FuturaLT-CondensedLight.ttf);
}

.font-futura-bt {
  font-family:"Futura Md BT Medium";
}
.font-futura-lt {
  font-family:myfont;
}
ion-item.item.depth-1{
  font-weight: bold;
  font-size: 28px;
}
ion-item.item.depth-2.checked {
  background:#55CDD3;
}


.b-report-head:last-child {
  border-left: 0px solid transparent;
}

.b-report-head {
  padding: 0 !important;
  background: #55CDD3;
  border-right: 5px solid #fff;

}

.b-b-b:last-child {
  border-right: 0px solid transparent;
}

.b-report-head-i {
  border-right: 5px solid #55CDD3;
}

.color-us {
  color: #009688;
}

.color-industry{
  color: #ff0000;
}

.text-black {
  color:black !important;
}

.b-b-b {
  border-bottom: 1px solid #55CDD3;
  border-right: 5px solid #55CDD3;
}

.two-col:last-child {
  /*border-left: 1px solid #55CDD3;*/

}

.two-col {
  width: 49%;
  font-family:   'Zurich Light Condensed' !important;;
  display: inline-block;
  font-size: 22px;
  line-height: 41px;
  text-align: center;

}

.two-col > div {
  font-family: "Futura Md BT Medium";
  color:#55CDD3;
  font-size: 24px;
}

.two-col:last-child > div {
  color:#009688
}

.two-col:last-child {
  border-top: 2px solid #55CDD3;
}

.panel-info {
  border-color: #55CDD3;
  background-color: #037277 !important;
}
.checked.depth-2 span {
  color: #fff;
  font-weight: bold;
}
.summary-row span:first-child {

}
textarea.complaint-textarea {
  margin: auto;
  margin-top: 10px;
  height: 150px !important;
  border: 1px solid #93CFD2 !important;;
  width: 80% !important;;
  display: inline !important;;
  border-radius: 4px !important;
  padding-left: 10px !important;
  margin-left: 10px ;
  font-size: 36px !important;
  padding-bottom: 10px;
  margin-bottom: 14px;
  padding-top: 15px;
  line-height: 36px;
}

.current-page-name {
  font-family: "Futura Md BT Medium";
  font-size:48px;
}

.zurich {
 font-family:  'Zurich Light Condensed' !important;
}

.m-t-10 {
  margin-top:10px;
}

.text-white {
  color:#fff !important;
}
.pull-right {
  float:right;
}

.ul-answer {
  font-size: 24px;
  font-family:  'Zurich Light Condensed' !important;
  line-height: 36px;
}

.title-summary {
  font-size: 36px !important;
  color: rgb(255, 255, 255) !important;
  padding-top: 26px !important;
  left: 200px !important;
  right: 124px !important;
  height: 100px !important;
}

.assertive {
  color:#55CDD3
}

.bar.bar-beatle {
  border-color: #55CDD3;
  background-color: #55CDD3;
  background-image: linear-gradient(0deg, #55CDD3, #55CDD3 50%, transparent 50%);
  color: #fff;
}

.bg-beatle {
  background-color: #55CDD3;
  background-image: linear-gradient(0deg, #55CDD3, #55CDD3 50%, transparent 50%);

}

.ion-checkmark:before {
  color: #fff;
}

.content-button {
  min-width: 60%;
  font-size: 2em;
  height: 60px;
  margin-top: 20px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  font-family: "Futura Md BT Medium";
}

.bar-footer {
  height: 80px;
}

.font-bold {
  font-weight: bold;
}

.text-beatle {
  color: #fff;
}

.beatle-button {
  border-radius: 50px;
  line-height: 50px;
  min-height: 49px;
  color: #939393;
  font-size: 32px;
  padding: 10px 50px;
}

.border-beatle {
  border: 5px solid #369498;
  border-radius: 11px;
}

.background-beatle {
  background: #369498;
}

.beatle-button-1x {
  border-radius: 40px;
  line-height: 40px;
  min-height: 40px;
  color: #fff;
  font-size: 24px;
  padding: 0px 20px;
  /* text-transform: uppercase; */
  font-family: 'Futura Md BT Medium';
}

.button-answer {
  width: 51%;
  margin-top: 5px;
  font-size: 24px;
  font-family: "FuturaLT-Book";
}


.bg-assertive {
  background-color: #ef473a;
}

.beatle-font-1x {
  font-size: 24px;
}

.home-bottom {
  text-align: center;
  /*position:absolute;*/
  /*bottom:0;*/
  min-height: 600px;
  width:100%;
}
.user-login-bottom {
  text-align: center;
  /*position:absolute;*/
  /*bottom:0;*/
  /*height:50%;*/
  min-height: 600px;
  width:100%;
}
.summary-bottom {
  text-align: center;
  position:absolute;
  bottom:0;
  height:40%;
  width:100%;
}

.button-summary {
  position: fixed;
  right: 130px;
  bottom: 94px;
}
.button-camera {
  position: fixed;
  left: 55px;
  bottom: 20px;
}

.avatar-beatle {
  font-size: 300px;
  color: #F7F7F5;
  position: absolute;
  left: 40px;
  top: 0;
}

.story-head {
  color: #FBFBFB;
  background: #55CDD3;
  padding: 10px;
  margin: auto;
  width: 80%;
  border-radius: 30px;
}

#myImage {
  width: 225px;
  position: absolute;
  left: 40px;
  top: 12px;
  border-radius: 30px;
}

.story-body {
  max-height: 250px;
  overflow-y: scroll;

  font-size: 16px;
  width: 73%;
  margin: auto;
  text-align: initial;
  padding: 20px;
  background: #ccc;
}

.home-bottom-block {
  text-align: center;
  position:absolute;
  bottom:0;
  height:20%;
  width:100%;
}

.beatle-header-bar {
  height: 80px;
}

.input-dept input {
  font-family: 'Futura Md BT Medium';
  font-size: 44px;
  height: 50px;
}

.input-dept {
  width: 80%;
  margin: auto;
}

.input-login {
  width: 60%;
  margin: auto;
}

.input-login input {
  font-family: 'Futura Md BT Medium';
  font-size: 18px;
}

/*.question-wrap:last-child {*/
  /*border-bottom: 1px solid transparent;*/
/*}*/

.question-name {
  letter-spacing: 1px;
}

.question-wrap {
  border-bottom: 1px solid #ccc;
  width:80%;
  margin:auto;
  padding: 40px 0 6px 0;
}

.radio-wrap {
  padding:10px 30px;

}

.next-button.button.activated,
.content-button.button.activated {
  background-color: #55CDD3;
}
.next-button {
  font-size: 24px !important
}

.text-answer-wrap *,
.radio-wrap *{
  font-size: 48px;
  font-family:  'Zurich Light Condensed';
}

.radio:checked::before,
input[type="radio"] {
  position:absolute;
  clip: rect(0,0,0,0);
  clip: rect(0 0 0 0);
}

.text-answer-input {
  height: 50px !important;
  border: 1px solid #93CFD2 !important;;
  width: 80% !important;;
  display: inline !important;;
  border-radius: 10px !important;
  padding-left: 10px !important;
  margin-left: 10px ;
  font-size: 36px !important;
  padding-bottom: 10px;
  margin-bottom: 14px;
}

.textarea-answer-input {
  height: 150px !important;
  border: 1px solid #93CFD2 !important;;
  width: 80% !important;;
  display: inline !important;;
  border-radius: 10px !important;
  padding-left: 10px !important;
  margin-left: 10px ;
  font-size: 36px !important;
  padding-bottom: 10px;
  margin-bottom: 14px;
  padding-top: 15px;
  line-height: 36px;
}

.text-red {
  color:red;
}

.radio:checked,
input[type="radio"] + label::before {
  font-family: 'Futura Md BT Medium';
  content:'O ' ;
  color:#ccc;
}

.radio:checked,
input.xchecked[type="radio"] + label::before {
  color: #55CDD3;
}

input[type="radio"]:checked + label::before {
  content: '✔';
}

.summary-description {
  position: absolute;
  right: 0px;
  width: 60%;
  height: 230px;
  top: 90px;
}


/* loading */
/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  color:#3C9094;
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgb(60, 144, 148) 1.5em 0 0 0, rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) 0 1.5em 0 0, rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0, rgba(255, 255, 255, 0.5) -1.5em 0 0 0, rgba(255, 255, 255, 0.5) -1.1em -1.1em 0 0, rgba(255, 255, 255, 0.75) 0 -1.5em 0 0, rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgb(60, 144, 148) 1.5em 0 0 0, rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) 0 1.5em 0 0, rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) -1.5em 0 0 0, rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0, rgba(255, 255, 255, 0.75) 0 -1.5em 0 0, rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
